html, header, body, p, td, th, h1, li {
  margin: 0;
  padding: 0;
  font-family: Arial, sans;
}

html {
  font-size: 80%;
}

body {
  background: #ffa84c;
  background: linear-gradient(to top,  #ffa84c 0%, #ff7b0d 100%);
}

p {
  text-align: justify;
}

p, li, pre {
  margin: 0.2rem 0 0.7rem 0;
  font-size: 1.2rem;
  color: #333;
  line-height: 1.9rem;
}

code {
  border: 0.1rem #BBB dashed;
  background-color: white;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
}

pre code {
  border: none;
  padding: none;
  background-color: transparent;
}

pre {
  border: 0.1rem #BBB dashed;
  background-color: white;
  padding: 0.4rem;
  overflow: auto;
}

strong {
  color: #111;
}

.title {
  width: 100%;
  height: 10rem;
  color: white;
  text-align: center;
}

.title h1 {
  line-height: 9rem;
  font-size: 6rem;
  text-shadow: 0 0.1rem 0 #ccc,
               0 0.2rem 0 #c9c9c9,
               0 0.3rem 0 #bbb,
               0 0.4rem 0 #b9b9b9,
               0 0.5rem 0 #aaa,
               0 0.6rem 0.1rem rgba(0,0,0,.1),
               0 0 0.5rem rgba(0,0,0,.1),
               0 0.1rem 0.3rem rgba(0,0,0,.3),
               0 0.3rem 0.5rem rgba(0,0,0,.2),
               0 0.5rem 1rem rgba(0,0,0,.25),
               0 1rem 1rem rgba(0,0,0,.2),
               0 2rem 2rem rgba(0,0,0,.15);
}

.stories {
  margin: 2rem auto;
  max-width: 650px;
}

.stories article {
  padding: 2rem;
  padding-bottom: 5.7rem;
  background-color: #FAFAFA;
  border-radius: 0 1rem 1rem 1rem;
  box-shadow: 0 0.4rem 1rem rgba(255, 255, 128, 0.5);
  margin: 2rem;
}

.stories article h1 {
  color: #FF7B0D;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-shadow: 0 -0.15rem 0 #D3660C,
               0 +0.2rem 0.1rem white;
}

.stories article aside {
  border-radius: 0 1rem 1rem 1rem;
  background-color: #FF7B0D;
  display: inline-block;
  height: 3rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  position: relative;
  float: right;
}

.stories article aside p {
  color: white;
  font-size: 1.2rem;
  line-height: 1rem;
}

.stories article aside time {
  position: absolute;
  bottom: 0rem;
  left: 0; right: 0;
  padding: 0.5rem 0 0.3rem 0;
  background-color: white;
  border-radius: 0 1rem 1rem 1rem;
  color: #FF7B0D;
}

.haikus {
  float: right;
  margin: 2rem;
  margin-right: 0;
}

.haikus h1,
.haikus pre {
  font-family: 'Bad Script', cursive;
}

.haikus h1 {
  font-size: 4rem;
  text-align: center;
}

.haikus pre {
  line-height: 3rem;
  border: none;
  padding: 1rem;
  box-shadow: -0.1rem 0.1rem 0.3rem 0.1rem rgba(255, 255, 128, 0.5);
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 2rem;
}
